@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/* syncfusion */
@import url("https://cdn.syncfusion.com/ej2/material.css");

/* Grapecity ActiveReport */
@import "@grapecity/activereports/styles/ar-js-ui.css";
@import "@grapecity/activereports/styles/ar-js-viewer.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Segoe UI', sans-serif;  
}

.ant-input{
  font-family: 'Segoe UI', sans-serif;
}

.ant-input-number .ant-input-number-handler-wrap{
  display: none !important;
}

.ant-input-number .ant-input-number-input{
  text-align: right;
}

.ant-btn-primary{
  background-color: #062E6F;
  border: none;
  box-shadow: none;
}

.ant-switch {
  background-color: #b6b4b4;
}

.ant-table{
  /* background-color: #618264;   */
  font-size: 13px !important ;
}

.tableColor .ant-table-cell{
  color: #062E6F;
  font-weight: 700;
  background-color: #7CACF8;  
}

/* row data */
/* .ant-table-tbody > tr > td {
  padding: 6px 8px !important;
} */

.mytable .ant-table-tbody > tr > td {
  padding: 6px 8px !important;
}

.custom-table-row .ant-table-cell-row-hover {
  background-color: #e9ebe8 !important;
}

.custom-height-table-row {
  height: 70px;
  font-size: 14px;
}

/* .active-row {
  background-color: #3eaee2 !important;
} */

.highlighted-row {
  background-color: #9EA8B0; /* Menetapkan warna latar belakang untuk baris yang dipilih */
}
/* .ant-table-selection-column {
  display: none;
}

.tampilkanselected .ant-table-selection-column {
  display: grid;
} */

.ant-message-notice-content{
  background-color: rgba(15, 17, 15, 0.534) !important;
  color: white;
  /* margin-top: 70vh; */
}

.ant-message {
  bottom: 200px !important;
  top: initial !important;
}

/* .custom-row-hover:active td {background: red !important;} */



/* SYNCFUSION GRID */
.e-cellselectionbackground,.e-selectionbackground,.e-gridview .e-grid .e-rowsheader.e-selectionbackground,.e-gridview .e-grid .e-columnsheader.e-selectionbackground {
  background-color: #D3E3FD !important;      
}


/* .ant-input:focus {
  border-color: #66604e;
  border-inline-end-width:1px;
}


.ant-input:hover{
  border-color: #66604e;
  border-inline-end-width:1px;
} */



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.menu-style {

  height: 100vh;
  width: 200px;
  position: fixed;
  } */